<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>email sent</title>
</head>

<body>
  <h1>تم الطلب بنجاح </h1>
  <script>
    setTimeout(() => {
      history.back()
    }, 5000)
  </script>
</body>

</html>